h1 {
    font: 900;
    font-size: 10em;
    text-align: center;
    color: hsl(200deg, 50%, 10%);

}

.subtopics {
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.profile {
    border-radius: 50%;
    width: 10em;
    height: 10em;
    object-fit: conver;
}

.container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
